<%- include('./partials/layout-header', {title: title}) %>

<% if(books.length) { %>
    <div class="card-group">
        <% books.map((book, idx) => { %>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img class="img-fluid" src="<%= book.fileCover %>" alt="..." style="height: 200px">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><%= book.title %></h5>
                            <p class="card-text"><%= book.description%></p>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="/books/<%= book.id %>" class="btn btn-primary">Смотреть</a>
                </div>
            </div>
        <% }) %>

    </div>
<% } else { %>
        <h3 class="mt-5">Записей пока нет</h3>
<% } %>
<hr>
<a href="books/create" class="btn btn-primary">Загрузить книгу</a>

<%- include('./partials/layout-footer', {title: title}) %>